@import 'mixins_and_variables_and_functions';

.gl-token-selector-token-container {
  display: flex;
  align-items: center;
}

#weight-widget-input:not(:hover, :focus),
#weight-widget-input[readonly] {
  box-shadow: inset 0 0 0 $gl-border-size-1 var(--white, $white);
}

#weight-widget-input[readonly] {
  background-color: var(--white, $white);
}

.work-item-assignees {
  .assign-myself {
    display: none;
  }

  .assignees-selector:hover .assign-myself {
    display: block;
  }
}
